<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Автор поста</strong>
        <small>12.04.2023</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil numquam laudantium a ut repellat laborum porro nisi veniam distinctio, sunt modi voluptatibus provident architecto ipsum quam optio, libero, atque excepturi maxime dolores aliquid dolorem? Obcaecati saepe animi voluptatem corrupti doloremque ut expedita? Commodi omnis atque voluptatem amet libero officia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil numquam laudantium a ut repellat laborum porro nisi veniam distinctio, sunt modi voluptatibus provident architecto ipsum quam optio, libero, atque excepturi maxime dolores aliquid dolorem? Obcaecati saepe animi voluptatem corrupti doloremque ut expedita? Commodi omnis atque voluptatem amet libero officia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil numquam laudantium a ut repellat laborum porro nisi veniam distinctio, sunt modi voluptatibus provident architecto ipsum quam optio, libero, atque excepturi maxime dolores aliquid dolorem? Obcaecati saepe animi voluptatem corrupti doloremque ut expedita? Commodi omnis atque voluptatem amet libero officia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil numquam laudantium a ut repellat laborum porro nisi veniam distinctio, sunt modi voluptatibus provident architecto ipsum quam optio, libero, atque excepturi maxime dolores aliquid dolorem? Obcaecati saepe animi voluptatem corrupti doloremque ut expedita? Commodi omnis atque voluptatem amet libero officia!</p>
    </div>
</div>